.container {
    display: flex;
    align-items: center;
    border: 1px solid #b8b8b8;
    width: fit-content;
    border-radius: 5px;
    width: 100%;
}

.lableInput {
    width: 60%;
    color: black;
    font-weight: 600;
    font-size: 12px;
    padding: 0 5px;
    background-color: silver;
    height: 33px;
    text-align: center;
    padding-top: 7px;
    /* border-top-right-radius: '5px';
    border-bottom-right-radius: '5px'; */
}

.inputField {
    outline: none;
    border: none;
    background-color: inherit;
    z-index: 0;
    width: 80%;
    text-align: center;
}